<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/home/devasc/labs/devnet-src/webapp/tempdir/static/style2.css" />  
<title> Homepage </title> 
</head>
<body>

    <div class="topnav">
        <a class="active" href="#home">Home</a>
        <a href="#news">News</a>
        <a href="#contact">Contact</a>
        <a href="/home/devasc/labs/devnet-src/webapp/tempdir/templates/login.html" class="split">Exit</a>
      </div>
      
      <div class="body2">
        <h2>Homepage Sample</h2>
        <p>This homepage is for sample activity 9.1</p>
      </div>
   
</body>
</html> 
