
<!DOCTYPE html>   
<html>   
<head>  
<meta name="viewport" content="width=device-width, initial-scale=1">  
<title> Login Page </title> 
<link rel="stylesheet" href="/home/devasc/labs/devnet-src/webapp/tempdir/static/style.css" />  
</head>    
<body>    
    <center> <h1> Login Form </h1> </center>   
    <form>  
        <div class="container">   
            <label>Username : </label>   
            <input type="text" placeholder="Enter Username" name="username" >  
            <label>Password : </label>   
            <input type="password" placeholder="Enter Password" name="password">  
            <button class="loginbutton"><a href="/home/devasc/labs/devnet-src/webapp/tempdir/templates/index.html" class="login">LOGIN</a></button>
            <input type="checkbox" checked="checked"> Remember me   
            <button type="button" class="cancelbtn"> CANCEL</button>   
            Forgot <a href="#"> password? </a>   
        </div>   
    </form>     
</body>     
</html>  